<div style="height:100%;margin-top:10px;margin-bottom:10px;width:20%;float:right;">
    <ul>
        <li>C#</li>
        <li>Java</li>
        <li>Phyton</li>
        <li>Javascript</li>
    </ul>
</div>
